@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
html{
  background-color:#F2E3BC;
}
.card{
  margin:auto;
  height:600px;
  width:600px;
   justify-content: center;
  
}
.line-clamp {
display:-webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
}


/* html {
  white-space: pre-line;
} */

.title:hover {
  color:blue;
  cursor: pointer;
}
/* This is the styling for the images in various pages */
.imgstyle {
  margin: auto;
  max-width: 100%;
  display:center;
  height: auto;
  width: 800px;
  
  /* px is very important or else it won't work in css in jsx you don't need */
}

.imgsmall{
  margin:auto;
  height:400px;
  width:400px;
  display:flex;
}


/* container class styling */
.display-1 {
  background-color: "#fafafa";

  font-family: "proxima-nova";
  max-width: 1000;
  font-weight: 500;
  font-style: "normal";
  font-size: "15px";
  letter-spacing: ".02em";
  line-height: "2em";
  text-transform: "none";
  color: "#757575";
}

.inner{
  overflow: hidden;
}

.inner{
  transition: all 1s ease;
}

.inner:hover {
  transform: scale(1.05);
}



.pagination a {
  
  color: black;
  text-align:center;
  /* float: left; */
  text-decoration: none;
  display:inline;
}

